<div class="wrapper">
  <a mat-button class="upper-back-button" (click)="handleBack()">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      class="material-icons-round"
      >arrow_back</mat-icon
    >
    <span>Back</span>
  </a>
  <mat-card>
    <h2>Pediatric Wheelchair Users Functional Shoulder Pain Index</h2>
    <p>
      This assessment was created and formatted for completion by participants
      of Indiana University’s Skills on Wheels program, assessing the impact of
      potential upper extremity pain on functional performance in a child’s
      day-to-day life.
    </p>
  </mat-card>
  <form [formGroup]="shoulderForm">
    <ng-container formArrayName="questionnaire">
      <ng-container
        *ngFor="let prompt of questionnaire.controls; let i = index"
      >
        <p class="section-divider" *ngIf="i === 0">
          Upper Extremity Pain History
        </p>
        <p class="section-divider" *ngIf="i === 7">Moving</p>
        <p class="section-divider" *ngIf="i === 12">Self-Care</p>
        <p class="section-divider" *ngIf="i === 15">General Activities</p>
        <!-- this is an individual prompt -->
        <div class="prompt-row" [formGroupName]="i">
          <mat-card>
            <div class="prompt-container">
              <div class="q-and-img-wrapper">
                <p class="question">{{ prompts[i].question }}</p>
                <!-- <img [src]="'../../assets/' + prompts[i].image" alt="" /> -->
              </div>
              <mat-slider max="5" step="0.1">
                <input matSliderThumb formControlName="rating" />
              </mat-slider>
              <div class="pain-faces">
                <img src="../../assets/1-face-pain.png" alt="" />
                <img src="../../assets/2-face-pain.png" alt="" />
                <img src="../../assets/3-face-pain.png" alt="" />
                <img src="../../assets/4-face-pain.png" alt="" />
                <img src="../../assets/5-face-pain.png" alt="" />
              </div>
              <mat-checkbox
                formControlName="notPerformed"
                (click)="handleCheckboxClick(i)"
                >Patient has not performed this in the past week</mat-checkbox
              >
            </div>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
  </form>

  <div class="nav-buttons">
    <a mat-stroked-button color="primary" (click)="handleBack()">Back</a>
    <a mat-raised-button color="primary" (click)="handleSubmit()">Submit</a>
  </div>
</div>
