<div class="wrapper">
  <a mat-button class="upper-back-button" (click)="handleBack()">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      class="material-icons-round"
      >arrow_back</mat-icon
    >
    <span>Back</span>
  </a>
  <mat-card>
    <h2>Shoulder Pain Assessment</h2>
    <p>
      Please rate the following actions on the unmarked pain scale, with left
      being no pain to right being more painful.
    </p>
  </mat-card>
  <form [formGroup]="shoulderForm">
    <ng-container formArrayName="questionnaire">
      <ng-container
        *ngFor="let prompt of questionnaire.controls; let i = index"
      >
        <!-- this is an individual prompt -->
        <div class="prompt-row" [formGroupName]="i">
          <mat-card>
            <div class="prompt-container">
              <div class="q-and-img-wrapper">
                <p class="question">{{ prompts[i].question }}</p>
                <img [src]="'../../assets/' + prompts[i].image" alt="" />
              </div>
              <mat-slider max="10" step="0.1">
                <input matSliderThumb formControlName="rating" />
              </mat-slider>
              <mat-checkbox
                formControlName="notPerformed"
                (click)="handleCheckboxClick(i)"
                >Patient has not performed this in the past week</mat-checkbox
              >
            </div>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
  </form>

  <div class="nav-buttons">
    <a mat-stroked-button color="primary" (click)="handleBack()">Back</a>
    <a mat-raised-button color="primary" (click)="handleSubmit()">Submit</a>
  </div>
</div>
