<div class="grid-wrapper">
  <mat-toolbar color="primary">
    <div class="header-contents">
      <img src="../assets/shoulder.png" alt="" width="38" height="38" />
      <h1 class="app-header-text">Shoulder Pain Rating Tool</h1>
    </div>
  </mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p class="footer-text">
      Questionnaire by Indiana University Skills on Wheels Program
    </p>
    <p>Website by Alex Perry</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/alexperry317/" target="_blank">
        <img
          src="../assets/socials/linkedin.svg"
          alt=""
          width="25"
          height="25"
          class="social-img-content"
        />
      </a>
      <a href="mailto:alex.perry422@gmail.com" target="_blank">
        <img
          src="../assets/socials/email.svg"
          alt=""
          width="25"
          height="25"
          class="social-img-content"
        />
      </a>
    </div>
  </footer>
</div>
