<div class="container">
  <!-- <h3>
    Estimate the level of pain with the following activities. If the activity
    was not performed in the past week, check the box below the slider.
  </h3>
  <p>
    <strong
      >Based on your experiences in the past week, how much shoulder pain do you
      experience when:</strong
    >
  </p> -->
  <!-- <app-pain-prompt></app-pain-prompt> -->
  <app-metadata-form
    (metadataSubmit)="handleMetadataSubmit($event)"
  ></app-metadata-form>
  <div class="nav-buttons">
    <button mat-stroked-button color="primary">Previous</button>
    <button mat-stroked-button color="primary">Next</button>
  </div>
</div>
