mat-card {
  padding: 2rem;
  margin-bottom: 2rem;
}

mat-form-field {
  width: 100%;
}

a {
  width: 100%;
  min-height: 100%;
}

.title-text {
  font-weight: 500;
  margin: 0 0 1rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 950px;
  padding: 1rem;
}

.nav-buttons {
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  mat-card {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}
